/* Global Styles */

:root {
  --bg-primary: #fff;
  --text-primary: #000;
  --text-seconday: #fff;
  --text-higlight: #a21d5a;
  --page-padding: 3vw 8vw;
}

* {
  box-sizing: border-box;
  word-wrap: break-word;
}

html {
  min-height: 100%;
}

html,
body {
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  font-stretch: normal;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: normal;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: none;
}

ul,
menu,
dir {
  padding-left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

*:focus,
*:active {
  outline: 0 !important;
}

a,
button {
  transition: all 0.3s;
}

a:hover,
a:focus,
a:active {
  opacity: 0.6;
}

button {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  color: var(--text-primary);
  background-color: transparent;
  border: 1px solid var(--text-primary);
  padding: 1.2em 2em;
  cursor: pointer;
}

button:hover,
button:focus,
button:active {
  color: var(--text-seconday);
  background-color: var(--text-higlight);
  border: 1px solid var(--text-higlight);
}

img {
  max-width: 100%;
}

/* Typography */

h1 {
  font-size: calc(1.56vw + 1rem);
  font-weight: 500;
}

h2 {
  font-size: calc(0.78vw + 1rem);
  font-weight: 500;
}

h3 {
  font-size: calc(0.26vw + 1rem);
  font-weight: 300;
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.8;
}

/* CSS Grid Layout */

.page-wrapper {
  display: grid;
  grid-template-areas:
    'header header'
    'sidebar container'
    'sidebar footer';
}

.navbar {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: var(--page-padding);
}

.sidebar {
  grid-area: sidebar;
  padding: 10vw 2vw;
  z-index: 1;
}

.container {
  grid-area: container;
  grid-column: 1 / -1;
  display: grid;
  row-gap: 10vw;
  padding: var(--page-padding);
}

.footer {
  grid-area: footer;
  grid-column: 1 / -1;
  padding: var(--page-padding);
}

/* Header */

.logo {
  font-size: calc(1.4vw + 1rem);
  font-weight: 200;
  z-index: 3;
}

.logo span {
  font-weight: 300;
}

.btn-menu {
  display: none;
  justify-content: space-around;
  background-color: transparent;
  border: 0;
  padding: 0;
  height: 20px;
  z-index: 3;
}

.btn-menu:hover,
.btn-menu:focus,
.btn-menu:active {
  background-color: transparent;
  border: 0;
}

.line {
  width: 28px;
  height: 1px;
  background-color: var(--text-primary);
  transition: 0.4s ease-in-out;
}

.no-scroll {
  overflow: hidden;
}

@media (max-width: 750px) {
  .btn-menu {
    /* CSS Grid causes an issue on iOS - Chrome & Safari  */
    /* display: grid; */
    display: flex;
    flex-direction: column;
  }

  .nav {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    display: grid;
    place-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-primary);
    transition: 0.4s ease-in-out;
    z-index: 2;
  }

  .nav-list {
    display: grid;
    justify-items: center;
    transition: 0.4s ease-in-out;
    transform: translateY(20px);
  }

  .open .nav {
    opacity: 1;
    visibility: visible;
  }

  .open .nav-list {
    visibility: visible;
    transform: translateY(0);
  }

  .open .line:first-child {
    transform: rotate(-45deg) translateY(7px);
  }

  .open .line:last-child {
    transform: rotate(45deg) translateY(-7px);
  }
}

.nav-item {
  position: relative;
  font-size: 1rem;
  font-weight: 300;
  margin: 0 1em;
}

@media (max-width: 750px) {
  .nav-item {
    margin: 1em 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }

  .open .nav-item {
    opacity: 1;
  }
}

.nav-item.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 1px;
  width: 100%;
  background-color: var(--text-primary);
}

/* Sidebar */

.social {
  position: sticky;
  top: 0;
  background-color: var(--bg-primary);
  padding: 1rem 0;
}

.social-item {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 3rem;
}

/* Section Hero */

.hero {
  display: grid;
  grid-template-columns: 40vw 1fr;
  row-gap: 2rem;
  align-items: center;
}

.hero .content {
  display: grid;
  justify-items: start;
  row-gap: 2rem;
  padding-left: 8vw;
}

@media (max-width: 750px) {
  .hero {
    grid-template-columns: 1fr;
  }

  .hero .content {
    padding-left: 0;
  }
}

/* Section Articles */

.articles {
  display: grid;
  row-gap: 6vw;
}

.headline {
  display: grid;
  grid-template-columns: 50vw;
  justify-content: center;
  row-gap: 2rem;
  text-align: center;
}

@media (max-width: 992px) {
  .headline {
    grid-template-columns: 1fr;
  }
}

.headline h1 {
  color: var(--text-higlight);
}

.posts {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

@media (max-width: 1200px) {
  .posts {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.post {
  display: grid;
  row-gap: 1rem;
  justify-items: start;
  align-content: start;
}

.post a {
  position: relative;
  color: var(--text-higlight);
  font-weight: 300;
}

.post a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 1px;
  width: 100%;
  background-color: var(--text-higlight);
}

/* Section Quote */

.quote {
  display: grid;
  grid-template-columns: 50vw;
  justify-content: center;
  row-gap: 2rem;
}

@media (max-width: 992px) {
  .quote {
    grid-template-columns: 1fr;
  }
}

/* Section Grid */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: 400px;
  grid-auto-flow: dense;
  gap: 2rem;
}

@media (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 300px;
  }
}

.item.long {
  grid-row: span 2;
}

.item.wide {
  grid-column: span 2;
}

@media (max-width: 750px) {
  .item.long,
  .item.wide {
    grid-row: span 1;
    grid-column: span 1;
  }
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer */

.footer {
  display: grid;
  justify-items: center;
  row-gap: 10rem;
  padding: var(--page-padding);
  margin-top: 10rem;
}

.footer h1 {
  position: relative;
}

.footer h1:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 1px;
  width: 100%;
  background-color: var(--text-primary);
}

.footer p {
  color: var(--text-higlight);
}

@media (max-width: 750px) {
  .footer p {
    margin-bottom: 6vw;
  }
}
